* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9fffa;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 10px;
    margin: 10px auto;
    color: #026d62;
}

.content {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: #02c39a;
    color: #ffffff;
    border-radius: 4px;
    width: 400px;
    height: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .6), -2px -2px 10px rgba(255, 255, 255, .8);
    padding: 10px;
    position: sticky;
    top: 10px;
    margin-top: 20px;
}

.last {
    width: 400px;
    height: 250px;
    background: transparent;
}

@media (max-width: 768px) {
    .last,
    .card {
        width: 300px;
        height: 200px;
    }
}